@import "tailwindcss";


@font-face {
    font-family: 'Theinhardt Pan';
    font-style: normal;
    font-weight: normal;
    src: local('Theinhardt Pan'), url('/fonts/theinhardt-pan/theinhardt-pan.otf') format('otf');
  }
@font-face {
  font-family: 'goudy-old-style';
  src: url('/fonts/Goudy/Goudy Old Style Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}




.font-cormorant {   font-family: "Cormorant Garamond", serif;}
.font-pan { font-family: "Theinhardt Pan", sans-serif; }
.font-goudy { font-family: "goudy-old-style"; }

body {
  overflow-x: hidden;   
}

@keyframes arrowMove {
  0%, 100% { transform: translateX(0); }
  50% { transform: translateX(5px); }
}

.arrow-animation {
  animation: arrowMove 1.2s ease-in-out infinite;
}
@keyframes smoothBounce {
  0% { transform: translateY(0); }
  50% { transform: translateY(-12px); }
  100% { transform: translateY(0); }
}

.smooth-bounce {
  animation: smoothBounce 2.2s ease-in-out infinite;
}

.sec-section { background-image: url('/assets/home/wrap1.svg'); background-repeat: no-repeat; background-size: cover}


.underline-animate {
  position: relative;
  display: inline-block;
  padding-bottom: 2px;
}

.underline-animate::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  height: 2px;
  width: 100%;
  background: #2B3136;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.35s ease;
}

.underline-animate:hover::after {
  transform: scaleX(1);
}

.tab-btn {
  position: relative;
  transition: color 0.3s ease;
}

.tab-btn::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -3px;
  width: 100%;
  height: 2px;
  background: #2B3136;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s ease;
}

.tab-btn:hover::after {
  transform: scaleX(1);
}

.tab-btn.active {
  color: #2B3136 !important;
  font-weight: 700 !important;
}

.tab-btn.active::after {
  transform: scaleX(1);
}
