@import "tailwindcss";



@font-face {
  font-family: 'Satoshi';
  src: url('/fonts/satoshi/Satoshi-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
}




.font-satoshi { font-family: "Satoshi", sans-serif; }
.font-lexend { font-family: "Lexend", sans-serif; }




body {
  overflow-x: hidden;   
}


